.root {
	-fx-background-color: linear-gradient(red 0%, aqua 100%);
	-fx-background-image: url("com/ddownloader/view/bg.jpg");
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-effect: dropshadow(gaussian , rgba(255,255,255,0.3) , 0,0,0,1);
}

.marked-label {
	-fx-font-size: 13px;
}

.text-field {
    -fx-font-family: "Lucida Console";
}

.button {
	-fx-background-color: 
        rgba(0,0,0,0.08),
        linear-gradient(#9a9a9a, #909090),
        linear-gradient(white 0%, #f3f3f3 50%, #ececec 51%, #d0d0d0 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-padding: 4 10 4 10;
    -fx-text-fill: #242d35;
}

.button:hover {
    -fx-color: #EDF1F2;
    -fx-background-color: #EDF1F2, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;
}

.button:focused {
	/*-fx-color: #EDF1F2;
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius:  6.4, 5, 4, 3;*/
}

.button:armed {
	-fx-color: white;
}

.progress-bar > .bar {
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%
    );
}

.greenPB > .bar {
	-fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        green 0%,
        green 49%,
        derive(green, 30%) 50%,
        derive(green, 30%) 99%
    );
}

/* Taken from http://stackoverflow.com/questions/28417140/styling-default-javafx-dialogs */

.dialog-pane > .button-bar > .container {
    -fx-background-color: transparent;
}

.dialog-pane:header .header-panel {
    -fx-background-color: transparent;
}

.dialog-pane:header .header-panel .label {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-font-family: "Segoe UI Semibold";
	-fx-effect: dropshadow(gaussian , rgba(255,255,255,0.5) , 0,0,0,1);
}

.alert.warning.dialog-pane {
    -fx-graphic: url("com/ddownloader/view/dialog-warning.png");
}
